* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 120vh;
  background-image: url("images/bgapp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 700px) {
  ::-webkit-scrollbar {
    display: none;
  }
  
}